h1{
    background-color: aqua;
    text-decoration: underline;
    box-shadow: 2px 3px;
}
img{
    box-shadow: 2px 4px rosybrown;
    
}
h2{
    background-color: blanchedalmond;
    text-decoration: overline;
}